html {	
    margin: 0;	
    padding: 0;	
    min-height: 100%;
}

.tile-icon
{
    display: block;
}

div.tile {
    position: relative;
    display: inline;
    width: 40px;
    height: 24px;
}
.virus{
    position: absolute;
    pointer-events: none;
    bottom: 0px;
    left: 0px;
}

td
{
    padding: 0px;
}